services:
  app:
    build: .
    image: centralizedtransmissionandremoteloading:dev
    container_name: centralizedtransmissionandremoteloading-dev
    ports:
      - "1337:1337"
    env_file:
      - .env
    volumes:
      - ./data:/root/data
    restart: unless-stopped
